<div class="menu has-text-right">
  <ul>
    <li>
      <a class="menu-link" routerLink="">
        início
      </a>
    </li>

    <li>
      <a class="menu-link" routerLink="provas">
        provas
      </a>
    </li>

    <li>
      <a class="menu-link" routerLink="evento">
        evento
        </a>
    </li>

    <li>
      <a class="menu-link" routerLink="patrocinadores">
        patrocinadores
      </a>
    </li>

    <li>
      <a class="menu-link" routerLink="inscricoes">
        inscricoes
      </a>
    </li>

  </ul>
</div>