<section class="view-principal">

    <div class="tarja-principal"></div>

    <div class="view-conteudo">
        <div class="titulo-principal">SUPER DESAFIO </div>
        <div class="sub-titulo" >Lorem ipsum sit dolor <span style="color:#ff7a7a; font-weight:600;"> Consectur</span> </div>
        <div class="logo-img">
            <img src="./assets/image/logo.png" alt="TKDCESARO">
        </div>
    </div>

</section>

<section class="site-info-cards">

    <div class="columns">
        <div class="column">
            <div class="info-card provas">
                <div class="fundo-preto-transparente">
                </div>
                <div class="card-conteudo">
                    <div class="titulo-card is-uppercase">PROVAS</div>
                    <div class="sub-titulo-card">Saiba mais o que te espera no nosso evento</div>
                    <a routerLink="provas">
                        <div class="arrow-btn"></div>
                    </a>
                </div>
            </div>
        </div>
        
        <div class="column">

            <div class="info-card evento">
                <div class="fundo-preto-transparente">
                </div>
                <div class="card-conteudo">
                    <div class="titulo-card is-uppercase">O EVENTO</div>
                    <div class="sub-titulo-card">Confira nossa organizaçao dos bastidores</div>
                    <a routerLink="evento">
                        <div class="arrow-btn"></div>
                    </a>
                </div>
            </div>
        </div>

        <div class="column">

            <div class="info-card patrocinio">
                <div class="fundo-preto-transparente">
                </div>
                <div class="card-conteudo">
                    <div class="titulo-card is-uppercase">PATROCINADORES</div>
                    <div class="sub-titulo-card">Veja quem apoia e confia em nosso trabalho</div>
                    <a routerLink="patrocinadores">
                        <div class="arrow-btn"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>

        <div class="banner">INSCREVA-SE AGORA</div>       
</section>

<section>
    <div class="info"><span style="font-size: 200px; color:white;">1º</span><span style="color:#ff7a7a; font-weight: 600;font-size:100px; "><span style="font-size:9 0px;">LOTE<br></span> R$ 100</span><br>
      <span style="color:white;">TODOS OS <span style="color:#ff7a7a; font-weight:600;">DESAFIOS </span><br>CAMISETA + SPORT BAG + BRINDES</span></div><br>
</section>



<section class="patrocinadores">
    <div class="title-patrocinio">PATROCINADORES</div>
        <div class="columns">
            <div class="column">
                <div class="logo-patrocinio"></div>
           </div>
           <div class="column">
                <div class="logo-patrocinio"></div>
           </div>
           <div class="column">
                <div class="logo-patrocinio"></div>
           </div>
           <div class="column">
                <div class="logo-patrocinio"></div>
           </div>
       </div>

</section>