<footer>
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="content">
          <div class="logo">LOGO</div>
          <i class="desc fab fa-instagram"></i>
          <i class="desc fab fa-facebook-square"></i>
          <i class="desc fab fa-whatsapp"></i>
        </div>
      </div>
      
    
      <div class="column">
            <div class="foot-conteudo">
          <ul>
              <li>
                  <a href="#">Produtos</a>
                  <a href="#">Blog</a>
                  <a href="#">Shop</a>
                  <a href="#">Contatos</a>
              </li>  
          </ul>
            </div>
      </div>
     </div>
    <div class="line-break"></div>
    
    <div class="container-midia">
      <div class="columns is-gapless">
        <div class="column is-narrow">
          <div class="midia-icon"> Copyright TKD todos os Direitos reservados</div>
        </div>
      </div>
    </div>
  </div>
</footer>
