<footer>
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="content">
          <div class="logo">LOGO</div>
          <div class="desc">lorem ipsum</div>
        </div>
      </div>
      <div class="column">
          <ul>
              <li>
                  <a href="#">1</a>
              </li>
              <li>
                  <a href="#">2</a>
              </li>
              <li>
                  <a href="#">3</a>
              </li>
              <li>
                  <a href="#">4</a>
              </li>
          </ul>
      </div>
      <div class="column">
          <ul>
              <li>
                  <a href="#">1</a>
              </li>
              <li>
                  <a href="#">2</a>
              </li>
              <li>
                  <a href="#">3</a>
              </li>
              <li>
                  <a href="#">4</a>
              </li>
          </ul>      
      </div>
      <div class="column">
          <ul>
              <li>
                  <a href="#">1</a>
              </li>
              <li>
                  <a href="#">2</a>
              </li>
              <li>
                  <a href="#">3</a>
              </li>
              <li>
                  <a href="#">4</a>
              </li>
          </ul>
      </div>
      <div class="column">
          <ul>
              <li>
                  <a href="#">1</a>
              </li>
              <li>
                  <a href="#">2</a>
              </li>
              <li>
                  <a href="#">3</a>
              </li>
              <li>
                  <a href="#">4</a>
              </li>
          </ul>
      </div>
    </div>
    <div class="line-break"></div>
    
    <div class="container-midia">
      <div class="columns is-gapless">
        <div class="column is-narrow">
          <div class="midia-icon">midia1</div>
        </div>
        <div class="column is-narrow">
          <div class="midia-icon">midia2</div>
        </div>
        <div class="column is-narrow">
          <div class="midia-icon">midia3</div>
        </div>
        <div class="column is-narrow">
          <div class="midia-icon">midia4</div>
        </div>
        <div class="column is-narrow">
          <div class="midia-icon">midia5</div>
        </div>
      </div>
    </div>
  </div>
</footer>
