<section class="intro-view provas">
    <div class="intro-view-logo is-uppercase">super desafio</div>
    <div class="fundo-preto-transparente"></div>

    <div class="intro-view-title is-uppercase">
        {{title}}
    </div>
</section>

<section class="provas-grid">
    <div class="container-fluid">
        <div class="columns">
            <div class="column">
                <div class="prova-card distancia">
                    <div class="fundo-preto-transparente"></div>
                    <div class="prova-conteudo">
                        <div class="prova-title">salto em distância</div>
                        <div class="prova-toggle-btn"></div>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="prova-card altura">
                    <div class="fundo-preto-transparente"></div>
                    <div class="prova-conteudo">
                        <div class="prova-title">salto em altura</div>
                        <div class="prova-toggle-btn"></div>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="prova-card poomsae">
                    <div class="fundo-preto-transparente"></div>
                    <div class="prova-conteudo">
                        <div class="prova-title">poomsae</div>
                        <div class="prova-toggle-btn"></div>
                    </div>
                </div>
            </div>

        </div>

        <div class="columns">
            <div class="column">
                <div class="prova-card velocidade">
                    <div class="fundo-preto-transparente"></div>
                    <div class="prova-conteudo">
                        <div class="prova-title">chute de velocidade</div>
                        <div class="prova-toggle-btn"></div>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="prova-card rei">
                    <div class="fundo-preto-transparente"></div>
                    <div class="prova-conteudo">
                        <div class="prova-title">desafio do rei</div>
                        <div class="prova-toggle-btn"></div>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="prova-card luta">
                    <div class="fundo-preto-transparente"></div>
                    <div class="prova-conteudo">
                        <div class="prova-title">luta</div>
                        <div class="prova-toggle-btn"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>