<section class="intro-view provas">
    <div class="intro-view-logo is-uppercase">super desafio</div>
    <div class="fundo-preto-transparente"></div>

    <div class="intro-view-title is-uppercase">
        {{title}}
    </div>
</section>

<section class="provas-grid">
    <div class="container-fluid">
        <div class="columns">
            <div class="column">
                <div id="distancia" class="prova-card distancia">
                    <div class="fundo-preto-transparente"></div>
                    <div class="prova-conteudo">
                        <div class="prova-title">salto em distância</div>
                        <div class="prova-toggle-btn"></div>
                    </div>
                </div>
            </div>

            <div class="column">
                <div id="altura" class="prova-card altura">
                    <div class="fundo-preto-transparente"></div>
                    <div class="prova-conteudo">
                        <div class="prova-title">salto em altura</div>
                        <div class="prova-toggle-btn"></div>
                    </div>
                </div>
            </div>

            <div class="column">
                <div id="poomsae" class="prova-card poomsae">
                    <div class="fundo-preto-transparente"></div>
                    <div class="prova-conteudo">
                        <div class="prova-title">poomsae</div>
                        <div class="prova-toggle-btn"></div>
                    </div>
                </div>
            </div>

        </div>

        <div class="columns">
            <div class="column">
                <div id="velocidade" class="prova-card velocidade">
                    <div class="fundo-preto-transparente"></div>
                    <div class="prova-conteudo">
                        <div class="prova-title">chute de velocidade</div>
                        <div class="prova-toggle-btn"></div>
                    </div>
                </div>
            </div>

            <div class="column">
                <div id="rei" class="prova-card rei">
                    <div class="fundo-preto-transparente"></div>
                    <div class="prova-conteudo">
                        <div class="prova-title">desafio do rei</div>
                        <div class="prova-toggle-btn"></div>
                    </div>
                </div>
            </div>

            <div class="column">
                <div id="luta" class="prova-card luta">
                    <div class="fundo-preto-transparente"></div>
                    <div class="prova-conteudo">
                        <div class="prova-title">luta</div>
                        <div class="prova-toggle-btn"></div>
                    </div>
                </div>
            </div>

        </div>

        <ng-template ngFor [ngForOf]="items" let-item>
            <div class="prova-expand">
                <div class="columns">
                    <div class="column is-4">
                        <div class="prova-expand-container">
                            <div class="prova-expand-title is-uppercase">{{ item['name'] }}</div>
                            <div class="prova-expand-desc">{{ item['description'] }}</div>
                        </div>
                    </div>
                
                    <div class="column">
                        <div class="prova-expand-image"></div>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</section>