.prova-expand{
    
    .prova-expand-container{
        width:100%;
        text-align:center;
        color:#fff;
        background:#000;
        height:100%;
        padding:60px 40px;

        .prova-expand-title{
            font-size:36px;
            font-style: italic;
            font-weight:800;
        }
    }

    .prova-expand-image{
        height:360px;
        width:100%;
        background:#2a2a2a;
    }
}
