.view-principal{
    min-height:100vh;
    background:#d2d2d2;
    position:relative;
    background-image:url('../assets/image/landing-background.jpg');
    background-size:cover;

    .tarja-principal{
        height:100%;
        width:375px;
        background:rgba(0,0,0,.5);
        position:absolute;
        right:0;
    }
}

.fundo-preto-transparente{
    background:rgba(0,0,0,.5);
    width:100%;
    height:100%;
    position:Absolute;
}

.view-conteudo{
    position:absolute;
    right:80px;
    height:auto;
    top:calc(50% - 68.5px);
    text-align:right;

    .titulo-principal{
        font-weight: 800;
        color: $red;
        font-size: 60px; 
        right: 80px;
        margin-bottom:10px;
        font-family:$impact;
    }
    .sub-titulo{
        font-size:28px;
        color:#fefefe;
        text-shadow:0 3px 12px rgba(0,0,0,.2);
    }

    .logo-img{
        width:200px;
        height:200px;
        position:absolute;
        left:calc(50% - 100px);
        top:160px;
    }
}

.site-info-cards{
  .columns, .column{
        margin:0;
        padding:0;
    } 
}

.info-card{
    height:350px;
    width:auto;
    position:relative;
    background-size:cover;

    &.provas{
        background-image:url('../assets/image/provas-background.jpg');
    }

    &.evento{
        background-image: url('../assets/image/event-background.jpg');
    }
    &.patrocinio{
        background-image: url('../assets/image/patrocinios-background.jpg');
    }

    .arrow-btn{
        position:absolute;
        width:60px;
        height:40px;
        background-size:contain;
        background-repeat:no-repeat;
        bottom:40px;
        right:60px;
        background-image:url('../assets/image/icons/right-arrow.svg');
        transition:all .2s;
        cursor:pointer;

        @media(max-width:1750px){
            bottom:10px;
        }

        &:hover{
            right:40px;
        }
    }
}

.card-conteudo{
    position:absolute;
    width:100%;
    height:auto;
    padding:40px;
    bottom:0;

    .titulo-card{
        font-size:28px;
        font-weight:800;
        color:$red;

    }

    .sub-titulo-card{
        font-size:22px;
        color:#fefefe;
        @media(max-width:1010px){
            font-size: 16px;
            margin-top:10px;
        }
    }
}

.banner{
    background-color:#C82626;
    color: #fefefe;
    width: 100%;
    height: 229px;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    padding: 70px;    
}

.info{
    font-weight: 600;
    text-align: center;
    background-color: #2a2a2a;
    padding:70px;
}

.patrocinadores{
    padding: 20px 0 70px 0;
}

.title-patrocinio{
    font-weight: 600;
    text-align: center;
    padding: 15px;
    font-size: 30px;
    color: #2a2a2a;
    margin-bottom:20px;
}

.logo-patrocinio{
    padding: 60px;
    border-radius:100%;
    border:3px solid #2a2a2a;
    width:200px;
    height:200px; 
    margin:auto;
}

.intro-view{
    min-height:40vh;
    display:flex;
    position:relative;
    justify-content:center;
    align-items:center;
    font-family: $impact;

    .intro-view-logo{
        position:absolute;
        right:20px;
        top:32px;
        font-size:36px;
        color:$red;
        z-index:2;

        @media(max-width:960px){
            display:none;
        }
    }
    .intro-view-title{
        z-index:2;
        color:#fff;
        font-size:100px;
    }

    &.evento{
        background-image:url('../assets/image/event-view-background.jpg');
        background-size:cover;
        background-position:center;
    }

    &.provas{
        background-image:url('../assets/image/tests-background.jpg');
        background-size:cover;
        background-position:0 30%;
    }
}

.evento-detalhes{
    background:#2a2a2a;
    padding:40px;
    color:#fff;

    .detalhe-container{
        text-align:center;
    }
    .detalhe-icon{
        img{
            width:auto;
            height:260px;
        }
    }

    ul{
        text-align:left;
        padding-top:10px;
        list-style-type: disc;
        @media(max-width:768px){
            text-align:center;
        }
        li{
            padding:5px 0;
        }
    }

    .detalhe-title{
        font-size:32px;
        padding:20px 0;
    }
}

.premios{
    height:auto;
    width:100%;
    .premiacao-head{
        padding:40px;
        text-align:center;
        background:#C82626;
        
        p{
            font-size:38px;
            color:#fff;
            text-transform:uppercase;
            font-weight:800;
            letter-spacing:15px;
        }
    }
}

.provas-grid{
    .columns,.column{
        margin:0;
        padding:0;
    }

    .prova-card{
        position:relative;
        width:100%;
        height:440px;
        background:$red;

        &.distancia{
            background-image:url('../assets/image/chute-distancia.jpg');
            background-size:cover;
            background-position: center;
        }

        &.altura{
            background-image:url('../assets/image/chute-altura.jpg');
            background-size:cover;
            background-position: center;
        }

        &.poomsae{
            background-image:url('../assets/image/poomsae.jpg');
            background-size:cover;
            background-position: center;
        }

        &.velocidade{
            background-image:url('../assets/image/chute-velocidade.jpg');
            background-size:cover;
            background-position: center;
        }

        &.rei{
            background-image:url('../assets/image/desafio-rei.jpg');
            background-size:cover;
            background-position: center;
        }

        &.luta{
            background-image:url('../assets/image/luta.jpg');
            background-size:cover;
            background-position: center;
        }
    }

    .prova-conteudo{
        width:100%;
        position:absolute;
        bottom:40px;
        text-align:center;
    }
    .prova-title{
        font-size:22px;
        font-weight:800;
        font-style: italic;
        color:#ffff;
        text-transform:uppercase;
        padding:10px 0;
    }

    .prova-toggle-btn{
        width:40px;
        height:40px;
        border:3px solid #fff;
        border-radius:100%;
        margin:auto;
        position:relative;
        transition:all .2s;
        cursor:pointer;

        &:before{
            content:"";
            display:block;
            position:absolute;
            width:60%;
            height:3px;
            background:#ffff;
            top:calc(50% - 1px);
            left:calc(50% - 30%);
            transition:all .2s;
        }

        &:after{
            content:"";
            display:block;
            position:absolute;
            width:3px;
            height:60%;
            background:#ffff;
            left:calc(50% - 1px);
            top:calc(50% - 30%);
            transition:all .2s;
        }

        &.active{
            &:after{
                transform:rotate(90deg);
            }
        }
    }
}