<section class="view-principal">

    <div class="tarja-principal"></div>

    <div class="view-conteudo">
        <div class="titulo-principal">SUPER DESAFIO </div>
        <div class="sub-titulo" >Lorem ipsum sit dolor <span style="color:#ff7a7a; font-weight:600;"> Consectur</span> </div>
    </div>

</section>

<section class="site-info-cards">

    <div class="columns">
        <div class="column">
            <div class="info-card">
                <div class="fundo-preto-transparente">
                </div>
                <div class="card-conteudo">
                    <div class="titulo-card is-uppercase">provas</div>
                    <div class="sub-titulo-card">Saiba mais o que te espera no nosso evento</div>
                </div>
            </div>
        </div>
        
        <div class="column">

            <div class="info-card">
                <div class="fundo-preto-transparente">
                </div>
                <div class="card-conteudo">
                    <div class="titulo-card is-uppercase">o evento</div>
                    <div class="sub-titulo-card">Confira nossa organizaçao dos bastidores</div>
                </div>
            </div>
        </div>

        <div class="column">

            <div class="info-card">
                <div class="fundo-preto-transparente">
                </div>
                <div class="card-conteudo">
                    <div class="titulo-card is-uppercase">patrocinadores</div>
                    <div class="sub-titulo-card">Veja quem apoia e confia em nosso trabalho</div>
                </div>
            </div>
        </div>
    </div>

</section>