<section class="view-principal">

    <div class="tarja-principal"></div>

    <div class="view-conteudo">
        <div class="titulo-principal">SUPER DESAFIO </div>
        <div class="sub-titulo" >Lorem ipsum sit dolor <span style="color:#ff7a7a; font-weight:600;"> Consectur</span> </div>
    </div>

</section>

<section class="site-info-cards">

    <div class="columns">
        <div class="column">
            <div class="info-card">
                <div class="fundo-preto-transparente">
                </div>
                <div class="card-conteudo">
                    <div class="titulo-card is-uppercase">PROVAS</div>
                    <div class="sub-titulo-card">Saiba mais o que te espera no nosso evento</div>
                </div>
            </div>
        </div>
        
        <div class="column">

            <div class="info-card">
                <div class="fundo-preto-transparente">
                </div>
                <div class="card-conteudo">
                    <div class="titulo-card is-uppercase">O EVENTO</div>
                    <div class="sub-titulo-card">Confira nossa organizaçao dos bastidores</div>
                </div>
            </div>
        </div>

        <div class="column">

            <div class="info-card">
                <div class="fundo-preto-transparente">
                </div>
                <div class="card-conteudo">
                    <div class="titulo-card is-uppercase">PATROCINADORES</div>
                    <div class="sub-titulo-card">Veja quem apoia e confia em nosso trabalho</div>
                </div>
            </div>
        </div>
    </div>

        <div class="banner">INSCREVA-SE AGORA</div>       
</section>

<section>
    <div class="info"><span style="font-size: 200px; color:white;">1º</span><span style="color:#ff7a7a; font-weight: 600;font-size:100px; "><span style="font-size:9 0px;">LOTE<br></span> R$ 100</span><br>
      <span style="color:white;">TODOS OS <span style="color:#ff7a7a; font-weight:600;">DESAFIOS </span><br>CAMISETA + SPORT BAG + BRINDES</span></div><br>
</section>



<section>
    <div class="title-patrocinio">PATROCINADORES</div>
        <div class="columns">
            <div class="column">
                <div class="patrocinadores">A</div>
           </div>
           <div class="column">
                <div class="patrocinadores">B</div>
           </div>
           <div class="column">
                <div class="patrocinadores">C</div>
           </div>
           <div class="column">
                <div class="patrocinadores">D</div>
           </div>
       </div>

</section>

<footer style="background-color:#383b3f;">
    <div class="columns">
        <div class="column">
            <div class="footer-logo">LOGO</div>
            <div class="slogan-footer">Slogan</div>
        </div>    
        
        <div class="column">
            <div class="info-footer">Web Tema</div>
            <div class="info-footer">FAQS</div>
            <div class="info-footer">TICKET</div>
        </div>
        <div class="column">
            <div class="info-footer">SERVIÇOS</div>
            <div class="info-footer">TEMA</div>
        </div>    
        <div class="column">
            <div class="info-footer">MOSTRUARIO</div>
            <div class="info-footer">FERRAMENTA</div>
            <div class="info-footer">SUPORTE</div>
        </div>
        <div class="column">
                <div class="info-footer">SOBRE</div>
                <div class="info-footer">CONTATO</div>
                <div class="info-footer">AFILIADOS</div>
                <div class="info-footer">RECURSOS</div>
        </div>
        </div>    
                
        <div class="linha"></div>
        <div class="columns">
            <div class="column">
                <div class="footer-midia-container">
                    <a class="footer-midia">Facebook</a>
                    <a class="footer-midia">Twiter</a>
                    <a class="footer-midia">G+</a>
                    <a class="footer-midia">Instagram</a>
                </div>
        </div>
        </div>
</footer>
