<section>
  
    <nav>
        <div class="nav is-uppercase"     >
            
           
            <a routerLink="test">Provas</a>
            <a routerLink="event">Evento</a>
            <a routerLink="sponsor">Patrocinadores</a>
            <a routerLink="signup">Inscreva-se</a>

        </div>
      </nav>



      <p class="titulo-principal">SUPER DESAFIO </p>
      <p class="sub-titulo" >Lorem ipsum sit dolor Consectur</p>

      <div class="columns is-desktop">
        <div class="title-prova">PROVAS</div>
        <h2 class="sub-title">Saiba mais sobre o que te espera no evento</h2>
     </div>

</section>
