<section class="intro-view evento">
    <div class="intro-view-logo is-uppercase">super desafio</div>
    <div class="fundo-preto-transparente"></div>

    <div class="intro-view-title is-uppercase">
        {{title}}
    </div>
</section>

<section class="evento-detalhes">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="detalhe-container">
                    <div class="detalhe-icon">
                        <img src="./assets/image/icons/alarm-clock.svg" alt="">
                    </div>
                    <div class="detalhe-title">Cronograma</div>
                    <div class="detalhe-descricao">
                        <ul>
                            <li>08:00 Cerimônia de abertura</li>
                            <li>09:00 Início dos desafios</li>
                            <li>12:00 Pausa para almoço</li>
                            <li>13:00 Lutas</li>
                            <li>16:00 Encerramento</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="detalhe-container">
                    <div class="detalhe-icon">
                        <img src="./assets/image/icons/piggy-bank.svg" alt="">
                    </div>
                    <div class="detalhe-title">Incentivo</div>
                    <div class="detalhe-descricao">
                        <p>
                            O investimento em patrocínio esportivo tem retorno certo nos seguintes aspectos:       
                        </p>
                        <ul>
                            <li>Aumentar o reconhecimento da empresa</li>
                            <li>Melhorar a imagem da empresa / marca</li>
                            <li>Demonstrar responsabilidade social</li>
                            <li>Divulgação de produtos específicos e lançamentos</li>
                            <li>Retorno em vendas</li>
                            <li>Alimentar orgulho e motivação dos funcionários</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="detalhe-container">
                    <div class="detalhe-icon">
                        <img src="./assets/image/icons/target.svg" alt="">
                    </div>
                    <div class="detalhe-title">Objetivo</div>
                    <div class="detalhe-descricao">
                        <p>
                            Nosso propósito é treinar nossos alunos com o que há de melhor em termos de competição no Taekwondo, para engajá-los, prepará-los e disponibilizar as melhores condições para que possam participar de futuras vagas na seleção brasileira da modalidade, tendo a oportunidade de disputarem as próximas Olimpíadas e Paralimpíadas em Tokyo 2020.       
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="premios">
    <div class="premiacao-head">
        <p>
            premiações
        </p>
    </div>
</section>

<section class="premiacao">
        
    <div class="container">
    <div class="columns">  
            <div class="column">
                
                <div class="premiacao-container">
                        <div class="fundo-preto-transparente"></div>
                        <div class="premiacao-title">Medalha 1º, 2º e 3º lugar</div>
                </div>
            </div>
            <div class="column">    
                <div class="premiacao-container">
                        <div class="fundo-preto-transparente"></div>
                        <div class="premiacao-title">Medalha de participação</div>
                </div>
            </div>
            <div class="column">    
                <div class="premiacao-container">
                        <div class="fundo-preto-transparente"></div>
                        <div class="premiacao-title">Troféis para equipes participantes (min 10 escrições)</div>   
                </div>
            </div>
                <div class="column">    
                <div class="premiacao-container">
                        <div class="fundo-preto-transparente"></div>
                        <div class="premiacao-title">Troféis 1º, 2º e 3º lugar para equipes</div>
                </div>
            </div>    
            <div class="column">    
                <div class="premiacao-container">
                        <div class="fundo-preto-transparente"></div>
                        <div class="premiacao-title">Brindes especiais para inscrições completas</div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    
</footer>